#!/bin/sh

exec chpst -u <%= node['gitlab_monitor']['user'] %> <%= node['gitlab_monitor']['ruby_prefix_path'] %>/bin/ruby <%= node['gitlab_monitor']['executable'] %> web -c <%= node['gitlab_monitor'][@options[:service]]['config_path'] %>
